@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");
 
  h1 {
    font-family: 'Sansita Swashed', cursive;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #A8FA3E 0%, #2191FE 100%);;
    margin: 0;
  }
  
  .center {
    text-align: center;
    border: 2px solid #fff; 
    background-color: #fff;
    border-radius: 10px; 
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
  }
  
  h1 {
    font-size: 30px;
    margin-bottom: 30px;
    width: 100%;
    position: relative;
    letter-spacing: 2px;
  }
  
  h1::before {
    content: "";
    display: inline-block;
    margin-right: 10px; 
    margin-left: -30px;
    width: 5px; 
    height: 2em;
    background-color: #007BFF; 
    vertical-align: middle; 
  }
  
  form {
    background-color: transparent;
    box-shadow: none;
    padding: 20px;
    width: 100%;
  }
  
  .inputbox {
    margin-bottom: 20px;
    position: relative;
  }
  
  .inputbox input {
    width: 100%;
    padding: 10px 40px;
    border: 2px solid #000;
    border-radius: 9px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .inputbox span {
    display: block;
    margin-top: -48px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    background-color: white;
    padding: 0 5px;
    position: absolute;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
  }
  
  .inputbox input:focus + span {
    margin-top: -56px;
    font-size: 12px;
    background-color: transparent;
    color: #fff;
  }
  
  input[type="button"] {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 9px;
    padding: 10px 45px;
    width: min-content;
    font-size: 16px;
    cursor: pointer;
    margin-left: -130px;
  }
  
  input[type="button"]:hover {
    background-color: #0056b3;
  }